.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.container-header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

  .header-inner {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 60px;

    @media screen and (min-width: 768px){
    .header-inner {
    justify-content: space-between;
    min-height: 80px;
}
}
}

.navigation-list-item,
.contact-list {
    list-style: none;
    padding-left: 15px;

}
.contact-list {
    margin-left: auto;
    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
    

}

.link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: inline-flex;
}

.navigation-list-item {
    font-weight: 500;
}

.mobile-nav-item {
    margin-bottom: 36px;
}

.mobile-nav-item:last-child {
    margin-bottom: 30%;
}

.logo {
    display: block;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: #2196f3;

    .logotyp {
        color: black;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }



}



.link:hover,
.link:focus,
.header-logo:focus,
.header-logo:hover,
.logotyp:hover,
.logotyp:focus {
    color: #2196f3;
}

@media screen and (max-width: 768px) {
    .navigation-list,
    .contact-list {
        display: none;
    }

}

.contact-list-icon {
    width: 15px;
    height: 15px;
}

.menu-button {
    margin-left: 15px;
    border: none;
    background-color: #fff;

    @media screen and (max-width: 767px) {
    
        margin-left: auto;
    }
}

.menu-button:focus,
.menu-button:hover {
    fill: #2196f3;
}

// Mobilne-menu


@media screen and (min-width: 768px) {
    .menu-button,
    .mobile-menu {
        display: none;
    }
    
}

.mobile-menu {
    display: flex;
}

.mobile {
        position: fixed;
        display: flex;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffff;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: 1500ms;
}

.mobile-nav-link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.5;

}

.mobile-nav-item,
.mobile-contact-item,
.socials-menu {
    list-style: none;
}

.socials-menu {
    display: inline-flex;
    margin-bottom: 48px;
}

.separate {
   margin-left: 10px;
   margin-right: 10px; 
}

.link-current::after {
    position: absolute;
    content: "";
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3; 
    margin-top: 37px;
    margin-left: -55px;

    @media screen and (max-width: 768px) {
        display: none;
    }

}
    
.link-current-mobile {
    color: #2196f3;
}

.menu-close-button {
    display: flex;
    justify-content: end;
    
}

.menu-close-button {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    background-color: #fff;
}

.mobile-contact-tel {
    font-size: 34px;
}

.mobile-contact-mail {
    font-size: 24px;
}
.socials-menu-item {
    font-size: 18px;

}

.mobile-contact-item {
    margin-bottom: 32px;
}

.socials-menu-link {
    color: #2196f3;
} 
.mobile-contact-list {
    margin-top: auto;
}

