.motto {
    margin-left: auto;
    margin-right: auto;
  
    background-image: url(../images/img-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/img-mobile@2x.png);
    }
  
    @media screen and (min-width: 480px) {
      background-image: url(../images/img-tablet.png);
  
      @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/img-tablet@2x.png);
      }
    }
  
    @media screen and (min-width: 768px) {
      background-image: url(../images/Img.jpg);
  
      @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/Img@2x.jpg);
      }
    }
  
    &__heading {
      margin-top: 0;
      margin-bottom: 30px;
  
      font-weight: 900;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
  
      color: $white;
  
      @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.6;
      }
  
      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
      }
    }
  }
  
  .motto__main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (max-width: 479px) {
      padding-top: 118px;
      padding-bottom: 118px;
    }
  
    @media screen and (min-width: 480px) {
      width: 360px;
      padding-top: 118px;
      padding-bottom: 118px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 696px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  
  }